
fastapi
uvicorn

langchain
langchain-community
langchain-core

langgraph

chromadb

sentence-transformers

pypdf

python-dotenv

python-multipart

openai

psycopg2-binary

sqlalchemy

mlflow

prometheus-client

opentelemetry-api
opentelemetry-sdk